.projects-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.projects-projects {
  width: 100%;
  height: 2482px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-background);
}
 
.projects-background {
  top: 256px;
  left: -77px;
  width: 1530px;
  height: 1648px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.projects-frame31 {
  gap: 16px;
  top: 1134px;
  left: 1363px;
  width: 103px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
 
.projects-frame221 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse231 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse211 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse221 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse201 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3610 {
  width: 4px;
  height: 4px;
}
 
.projects-frame231 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse251 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse261 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse241 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse1910 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3611 {
  width: 4px;
  height: 4px;
}
 
.projects-frame241 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse291 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse301 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse281 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse1911 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3612 {
  width: 4px;
  height: 4px;
}
 
.projects-frame251 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse331 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse341 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse321 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse1912 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3613 {
  width: 4px;
  height: 4px;
}
 
.projects-frame261 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse332 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse342 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse322 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse1913 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3614 {
  width: 4px;
  height: 4px;
}
 
.projects-frame36 {
  gap: 16px;
  top: 1545px;
  left: 26px;
  width: 103px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
 
.projects-frame222 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse232 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse212 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse222 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse202 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3615 {
  width: 4px;
  height: 4px;
}
 
.projects-frame232 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse252 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse262 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse242 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse1914 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3616 {
  width: 4px;
  height: 4px;
}
 
.projects-frame242 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse292 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse302 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse282 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse1915 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3617 {
  width: 4px;
  height: 4px;
}
 
.projects-frame252 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse333 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse343 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse323 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse1916 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3618 {
  width: 4px;
  height: 4px;
}
 
.projects-frame262 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse334 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse344 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse324 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse1917 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3619 {
  width: 4px;
  height: 4px;
}
 
.projects-frame28 {
  gap: 16px;
  top: 145px;
  left: 46px;
  width: 109px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
 
.projects-frame223 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse233 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse213 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse223 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse203 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3620 {
  width: 4px;
  height: 4px;
}
 
.projects-frame233 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse253 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse263 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse243 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse1918 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3621 {
  width: 4px;
  height: 4px;
}
 
.projects-frame243 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse293 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse303 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse283 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse1919 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3622 {
  width: 4px;
  height: 4px;
}
 
.projects-frame263 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-ellipse335 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse345 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse325 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse1920 {
  width: 4px;
  height: 4px;
}
 
.projects-ellipse3623 {
  width: 4px;
  height: 4px;
}
 
.projects-rectangle251 {
  top: 965px;
  left: 0px;
  width: 155px;
  height: 155px;
  position: absolute;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
 
.projects-rectangle252 {
  top: 0px;
  left: 1375px;
  width: 155px;
  height: 155px;
  position: absolute;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
 
.projects-footer {
  gap: 32px;
  top: 2274px;
  left: 0px;
  width: 1600px;
  display: flex;
  padding: 0 0 32px;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
 
.projects-line11 {
  width: 1366px;
  height: 1px;
}
 
.projects-frame491 {
  gap: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.projects-frame492 {
  gap: 437px;
  width: 1025px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.projects-frame244 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.projects-frame591 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.projects-frame16 {
  gap: 9px;
  display: flex;
  align-items: center;
}
 
.projects-logo1 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.projects-union1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.projects-text10 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text11 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text12 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame234 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.projects-text13 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-group22 {
  width: 112px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.projects-github {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
 
.projects-figma {
  top: 0px;
  left: 40px;
  width: 32px;
  height: 32px;
  position: absolute;
}
 
.projects-discord {
  top: 0px;
  left: 80px;
  width: 32px;
  height: 32px;
  position: absolute;
}
 
.projects-text14 {
  color: var(--dl-color-default-gray);
  width: 298px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-title {
  top: 114px;
  left: 171px;
  width: 183px;
  height: 77px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.projects-frame471 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.projects-text15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text16 {
  top: 56px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-complete {
  top: 259px;
  left: 171px;
  width: 1023.7362060546875px;
  height: 909px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.projects-frame472 {
  gap: 16px;
  top: 90px;
  left: 0px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
 
.projects-frame51 {
  gap: 16px;
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
 
.projects-project1 {
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.projects-rectangle221 {
  width: 331px;
  height: 201px;
  box-sizing: content-box;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
 
.projects-frame391 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.projects-text17 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text18 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text19 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text20 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame32 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.projects-text21 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text22 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame52 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.projects-link1 {
  display: contents;
}
 
.projects-frame61 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(199, 120, 221, 1);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}
 
.projects-text23 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.projects-frame71 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
 
.projects-text24 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-group4 {
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.projects-rectangle222 {
  width: 331px;
  height: 201px;
  box-sizing: content-box;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
 
.projects-frame392 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.projects-text25 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text26 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text27 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame33 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.projects-text28 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text29 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame53 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.projects-link2 {
  display: contents;
}
 
.projects-frame62 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(199, 120, 221, 1);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}
 
.projects-text30 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.projects-group3 {
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.projects-rectangle223 {
  width: 331px;
  height: 201px;
  box-sizing: content-box;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
 
.projects-frame393 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.projects-text31 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text32 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text33 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text34 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame34 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.projects-text35 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text36 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame54 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.projects-link3 {
  display: contents;
}
 
.projects-frame72 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}
 
.projects-text37 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.projects-frame481 {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
 
.projects-project2 {
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.projects-rectangle224 {
  width: 331px;
  height: 201px;
  box-sizing: content-box;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
 
.projects-frame394 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.projects-text38 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text39 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text40 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame35 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.projects-text41 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text42 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame55 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.projects-frame63 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(199, 120, 221, 1);
  border-style: solid;
  border-width: 1px;
}
 
.projects-text43 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.projects-project3 {
  width: 332px;
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.projects-rectangle225 {
  width: 331px;
  height: 201px;
  box-sizing: content-box;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
 
.projects-frame395 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.projects-text44 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text45 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text46 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame37 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.projects-text47 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text48 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame56 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.projects-frame64 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(199, 120, 221, 1);
  border-style: solid;
  border-width: 1px;
}
 
.projects-text49 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.projects-h21 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.projects-text50 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-small {
  top: 1259px;
  left: 171px;
  width: 1061px;
  height: 373px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.projects-frame482 {
  gap: 16px;
  top: 90px;
  left: 0px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
 
.projects-frame473 {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
 
.projects-project4 {
  width: 331px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.projects-frame396 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.projects-text51 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text52 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text53 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame38 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.projects-text54 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text55 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame57 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.projects-link4 {
  display: contents;
}
 
.projects-frame65 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(199, 120, 221, 1);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}
 
.projects-text56 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.projects-project5 {
  width: 331px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.projects-frame397 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.projects-text57 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text58 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text59 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame310 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.projects-text60 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text61 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame58 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.projects-link5 {
  display: contents;
}
 
.projects-frame66 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(199, 120, 221, 1);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}
 
.projects-text62 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.projects-project6 {
  width: 331px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.projects-frame398 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.projects-text63 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame311 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.projects-text64 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text65 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame510 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.projects-link6 {
  display: contents;
}
 
.projects-frame67 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(199, 120, 221, 1);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}
 
.projects-text66 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.projects-h22 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.projects-text67 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-header {
  gap: 555px;
  top: 0px;
  left: 171px;
  width: 1024px;
  display: flex;
  padding: 32px 0 8px;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-background);
}
 
.projects-frame40 {
  gap: 8px;
  display: flex;
  align-items: center;
}
 
.projects-logo2 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.projects-union2 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.projects-text68 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-frame1 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
}
 
.projects-headerlink1 {
  display: flex;
  align-items: flex-start;
}
 
.projects-text69 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-headerlink2 {
  display: flex;
  align-items: flex-start;
}
 
.projects-text70 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-headerlink3 {
  display: flex;
  align-items: flex-start;
}
 
.projects-text71 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-headerlink4 {
  display: flex;
  align-items: flex-start;
}
 
.projects-text72 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-languageswitcher {
  gap: 4px;
  display: flex;
  position: relative;
  align-items: center;
}
 
.projects-text73 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-group58 {
  width: 10px;
  height: 5px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.projects-line14 {
  top: 1.0677095474420639e-7px;
  left: 0px;
  width: 7px;
  height: 1px;
  position: absolute;
}
 
.projects-line15 {
  top: 5px;
  left: 5px;
  width: 7px;
  height: 1px;
  position: absolute;
}
 
.projects-frame592 {
  gap: 8px;
  height: 1px;
  display: flex;
  opacity: 0.00;
  padding: 8px;
  z-index: 2;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-default-background);
}
 
.projects-text74 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-text75 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.projects-media {
  top: 0px;
  left: 17px;
  width: 32px;
  height: 311px;
  position: absolute;
}
 
@media(max-width: 1200px) {
  .projects-small {
    right: -32px;
    bottom: 850px;
    position: absolute;
    flex-wrap: wrap;
  }
  .projects-frame482 {
    flex-wrap: wrap;
  }
  .projects-frame473 {
    flex-wrap: wrap;
  }
  .projects-project4 {
    flex-wrap: wrap;
  }
  .projects-project5 {
    flex-wrap: wrap;
  }
  .projects-project6 {
    flex-wrap: wrap;
  }
}
 
@media(max-width: 991px) {
  .projects-small {
    right: -241px;
    bottom: 850px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .projects-frame482 {
    flex-wrap: wrap;
  }
  .projects-frame473 {
    flex-wrap: wrap;
  }
  .projects-project4 {
    flex-wrap: wrap;
  }
  .projects-project5 {
    flex-wrap: wrap;
  }
  .projects-project6 {
    flex-wrap: wrap;
  }
}
